[Unit]
Description = FreeIPA + Zeppelin
After = network.target
[Service]
Type=forking
ExecStart = /usr/sbin/ipa-client-start
ExecStop = /usr/sbin/ipa-client-stop
User = root
[Install]
WantedBy = multi-user.target