[Unit]
Description = Configure FreeIPA
After = network.target
[Service]
ExecStart = /usr/sbin/ipa-client-start
ExecStop = /usr/sbin/ipa-client-stop
User = root
[Install]
WantedBy = multi-user.target